#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
    background-color: #1467a3;
}

/* CSS code from https://stackoverflow.com/questions/42935320/how-to-change-the-color-theme-on-rmdformats-readthedown */

#main .nav-pills > li > a:hover {
    background-color: #1467a3;
}

/* Import font from Google Fonts API  */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster');

/* Customization of body text with sans-serif as backup if font fails */
body {
  font-family: 'Arimo', sans-serif;
}

/* Customization of level-1 header */
h1 {
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    font-family: 'Arimo', sans-serif;
    background-color: #1467a3;
    outline: 2px groove black;
    box-shadow: 0 0 3px 3px rgba(20, 103, 163, 0.5);
}

/* Customization of other headers */
h2, h3, h4, h5, h6, legend {
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    font-family: 'Arimo', sans-serif;
    background-color: #1467a3;
    outline: 2px ridge black;
    box-shadow: 0 0 3px 3px rgba(20, 103, 163, 0.5);
    position: sticky;
    top: 0;
    z-index: 100; /* Optional: Adjust the stacking order if needed */
    inset-block-start: 10px;
}

#nav-top span.glyphicon {
    color: #1467a3;
}

#table-of-contents header {
    color: #1467a3;
    font-family: 'Arimo', sans-serif;
}

#table-of-contents h1 {
    background-color: #1467a3;
}

#main a {
    background-image: linear-gradient(180deg,#1467a3,#1467a3);
    color: #c7254e;
}

a:hover {
    color: #3d1308;
}

a:visited {
    color: #3d1308;
}

/* Setting top-left background color */
#content h2 {
    background-color: #1467a3;
}
